html,
body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
}

@import "~@ng-select/ng-select/themes/default.theme.css";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 5px;
}
